*{
  text-transform: uppercase;
}



body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 100;
}

table td,th{
  color: white;
}
table th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #ff0000;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: rgb(255, 0, 0);
}
table thead{
  background-color: #0000007e;
}
thead tr{
  border-radius: 16px;
}
table{
  width: 100%;
  border-collapse: collapse;

    overflow: hidden;
  
}
.container{
  width: 1000px;
  border-radius: 16px;
  overflow: hidden;
  background: #f102d2;
  background: -webkit-linear-gradient(-68deg,#c9f700,#c9f700);
  background: -o-linear-gradient(-68deg,#ff6600,#ff6600);
  background: -moz-linear-gradient(-68deg,#ff00b3,#ff00b3);
  background: linear-gradient(-68deg,#0ee6db,#000000);
  margin-top: 50px;
  display: block;
 margin: auto;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  text-align: center;
}

td a {
  color:#ffffff;
  background-color: rgb(255, 0, 0);
  border: solid 5px rgb(255, 0, 0);
  border-radius: 10px;
  text-decoration: none;

}
tbody {
	tr {
		&:hover {
			background-color: rgba(253, 250, 250, 0.616);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255, 0, 0, 0.2);
				z-index: -1;
			}
		}
	}
}

form{
  margin: 10px;
}
td img{
    width: 100px;
}